In [19]:
import pandas as pd

def main():
    data = [[1000,25],[280,120],[900,30]]
    
    df = pd.DataFrame(data,index=["store1","store2","store3"],columns=["unit price","number"])
    print(df)
    
    df['total price']=df['unit price']*df['number']
    print(df)
    
    df2=df.sort_values('unit price',ascending = True)    
    print(df2.head(2))
    
    
if __name__ == "__main__":
    main()

        unit price  number
store1        1000      25
store2         280     120
store3         900      30
        unit price  number  total price
store1        1000      25        25000
store2         280     120        33600
store3         900      30        27000
        unit price  number  total price
store2         280     120        33600
store3         900      30        27000